{% extends 'base.html.twig' %}

{% block title %}Checkout Page{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Qty.</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <th scope="row">
                                <img class="checkout-img" src="{{ asset(product.image) }}" alt="Product image">
                            </th>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>S${{ product.price }}</td>
                            <td>{{ attribute(cart, product.id) }}</td>
                            <td>S${{ attribute(totals, product.id) }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th scope="row">TOTAL</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>S${{ total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col text-right">
                <form action="/payment" method="post">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_TEeyv0MGJitCaEK9ZWgj4nvB"
                        data-description="RDP Payment"
                        data-amount="{{ total * 100 }}"
                        data-locale="auto"
                        data-currency="sgd"
                    ></script>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
