{% extends 'base.html.twig' %}

{% block title %}Shopping Page{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset(product.image) }}" alt="Product image">
                        <div class="card-block">
                            <h4 class="card-title">{{ product.name }}</h4>
                            <h6>S${{ product.price }}</h6>
                            <p>{{ product.description }}</p>
                            <form id="product-addCart-{{ product.id }}">
                                <div class="input-group">
                                    <input type="number" name="qty" class="form-control" value="{{ attribute(cart, product.id) }}">
                                    <button
                                        class="btn btn-primary"
                                        type="button"
                                        onclick="add2Cart(event, {{ product.id }})"
                                    >
                                        {% if cart[product.id] > 0 %}
                                            Change Cart
                                        {% else %}
                                            Add 2 Cart
                                        {% endif %}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if isCart %}
            <div class="row">
                <div class="col text-right">
                    <a href="/checkout" class="btn btn-primary">Checkout</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
