{% extends 'base.html.twig' %}

{% block title %}Thank you!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>ERROR! You can try another time, we have kept your shopping cart safe</h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <a href="/checkout" class="btn btn-primary">Return to Checkout</a>
            </div>
        </div>
    </div>
{% endblock %}
