{% extends 'base.html.twig' %}

{% block title %}Thank you!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Thank you to buy with RDP</h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <a href="/" class="btn btn-primary">Return to home page</a>
            </div>
        </div>
    </div>
{% endblock %}
